// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #ec663c;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------

.widget-switch {

    background-color: $background-color;

    .title {
      color: $title-color;
      font-size: 40px;
      font-weight: bold;
      color: #fff;
    }
  
    .more-info {
      color: $moreinfo-color;
    }
  
    .updated-at {
      color: rgba(255, 255, 255, 0.7);
    }
  
  
    &.large h3 {
      font-size: 144px;
    }
  }

  .on{
    background-color: #33a94b;
  }

  .off{
    
    background-color: red;
  }