.widget-chlorine {
    background: #ff82c3;
    font-size: 65px;
    font-weight: bold;

  }
  
.zerop5 {
    background: #f9dceb;
}
  
.onep0 {
    background: #ffbae3;
}
  
.onep5 {
    background: #ffa4db;
}
  
.twop0 {
    background: #f9dceb;
}
  
.twop5 {
    background: #ff82c3;
}
  
.threep0 {
    background: #ff4aaa;
}
  
.threep5 {
    background: #ff4aaa;
}
  
.fourp0 {
    background: #ff5ba7;
}
  
.fourp5 {
    background: #ff5ba7;
}
  
.fivep0 {
    background: #ff3fa3;
}