<div class="gridster">
  <ul>

    <!--  Block '#' 1 Aqua Therapy Logo / TYPE = Image -->
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-view="Image" data-title="Aqua Therapy" data-image="/new-logo.png" class="logo-background"></div>
    </li>

    <!--  Block '#' 2 Time / TYPE = Clock -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock" class="clock"></div>
        <i class="fa fa-clock-o icon-background"></i>
    </li>

    <!--  Block '#' 3 Weather / TYPE = Weather  / ID  = weather 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>
-->
    <!-- Block '#' 3 pH Value / TYPE = Ph / ID = ph -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ph" data-view="Ph" data-title="pH Value" data-moreinfo=" " data-addclass-one="is1" data-addclass-two="is2" data-addclass-three="is3" data-addclass-four="is4" data-addclass-five="is5" data-addclass-six="is6" data-addclass-seven="is7" data-addclass-eight="is8" data-addclass-nine="is9" data-addclass-ten="is10" data-addclass-eleven="is11" data-addclass-twelve="is12" data-addclass-thirteen="is13" data-addclass-fourteen="is14" ></div>
    </li>

    <!-- Block '#' 4 Pool Temperature / TYPE = Meter / ID = pool_temp -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pool_temp" data-view="Meter" data-title="Pool Temp" data-height="200" data-width="200" data-min="10" data-max="50" data-suffix="" data-moreinfo="In °C" class="pool-temp"></div>
    </li>
  

    <!-- Block '#' 5 Chlorine Level / TYPE = Chlorine / ID = chlorine -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chlorine" data-view="Alert"  data-addclass-danger="isTooHigh" data-addclass-normal="isMedium" data-addclass-low="isLow" data-moreinfo="In PPM"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="uv" data-view="Switch" data-title="UV" data-text="OFF" data-moreinfo="" data-addclass-danger="isOn" data-addclass-danger="isOff"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" class="heart-red">
      <div data-id="ozone" data-view="Switch" data-title="Ozone" data-text="OFF" data-moreinfo="" data-addclass-danger="isOn" data-addclass-danger="isOff"></div>
    </li>

      </ul>
      <p class="bottom-text"> Made with <i class="fa fa-heart heart"></i> by Raimeech Aero</p>
</div>
<div data-id="reload" data-view="Reload" data-title="Reload" style="display: none"></div>
