<div class="gridster">
  <ul>

    <!--  Block '#' 1 Aqua Therapy Logo / TYPE = Image -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-title="Aqua Therapy" data-image="/aqua-therapy-logo.png" class="logo-background"></div>
    </li>

    <!--  Block '#' 2 Time / TYPE = Clock -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
        <i class="fa fa-clock-o icon-background"></i>
    </li>

    <!--  Block '#' 3 Weather / TYPE = Weather  / ID  = weather -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="weather" data-view="Weather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="pH Value" data-moreinfo=" " ></div>
    </li>
    
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Pool Temp" data-height="200" data-width="200" data-min="10" data-max="50" data-suffix="" data-moreinfo="In °C" ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="chlorine" data-view="Alert"  data-addclass-danger="isTooHigh" data-addclass-normal="isMedium" data-addclass-low="isLow" data-moreinfo="In PPM"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="UV" data-text="OFF" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Ozone" data-text="OFF" data-moreinfo=""></div>
    </li>

      </ul>
</div>